{% extends "layouts/index.html" %}
{% load static %}
{% block content %}
        <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image:url({% static 'homepages/img/bg-img/24.jpg' %})">
            <h2>Giới thiệu</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang Chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>GIới THiệu</h2>
                        <p>Chúng tôi đang dẫn đầu trong ngành môi trường.</p>
                    </div>
                    <p>Môi trường đang ngày càng một ô nhiễm ngoài sức tưởng tượng của con người gây ra các hiện tượng động đất ,sóng thần. Để tình trạng ô nhiễm không xảy ra nữa môi gia đình , mỗi người hãy trồng cây xanh để có thể bảo vệ môi trường </p>

                    <!-- Progress Bar Content Area -->
                    <div class="alazea-progress-bar mb-50">
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>Cây Văn Phòng</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>

                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>Cây Cảnh</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="70"></span>
                            </div>
                        </div>

                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>Cây Xanh</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="85"></span>
                            </div>
                        </div>

                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>BonSai</p>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="65"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'homepages/img/core-img/b1.png'%}" alt="">
                                    <h5>Sản Phẩm Chất Lượng</h5>
                                    <p>Chúng tôi cam kết sản phẩm đạt chất lượng cao, uy tín , chất lượng , sản phẩm đẹp mắt.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'homepages/img/core-img/b2.png'%}" alt="">
                                    <h5>Dịch vụ</h5>
                                    <p>Cam kết hỗ trợ, vạn chuyển cây cảnh 1 cách tối ưu, hiệu quả, không gây hại cho cây cảnh.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'homepages/img/core-img/b3.png'%}" alt="">
                                    <h5>100% Tự nhiên</h5>
                                    <p>Đảm bảo 100% cây giống được ươm trồng 1 cách tối ưu, cây cảnh được nhân giống tự nhiên, đảm bảo môi trường.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="{% static 'homepages/img/core-img/b4.png'%}" alt="">
                                    <h5>Người Bạn</h5>
                                    <p>Đến với chúng tôi cây cảnh được người dùng xem là người bạn của mình chăm sóc, ngày càng đẹp hơn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Service Area Start ##### -->

    <!-- ##### Service Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'homepages/img/bg-img/13.1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="testimonial-content">
                                        <!-- Section Heading -->
                                        <div class="section-heading">
                                            <h2>NHÀ LÃNH ĐẠO</h2>
                                            <p> Người đi đầu cho xu thế bảo vệ môi trường</p>
                                        </div>
                                        <p>“BonSai là tâm huyết cả đời mang lại 1 ý thức tuyệt vời cho môi trường ngoài ra vẻ đẹp của nó còn mang lại sự sang trọng, quý phái cho người trồng và chăm sóc. Thank you!”</p>
                                        <div class="testimonial-author-info">
                                            <h6>Mr. Hoàng Vũ</h6>
                                            <p>CEO of HUTECH</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area bg-img section-padding-100-0" style="background-image: url({% static 'homepages/img/bg-img/cool-facts.png' %});">
        <div class="container">
            <div class="row">

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'homepages/img/core-img/cf1.png' %}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">40</span></h2>
                            <h6>AWARDS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'homepages/img/core-img/cf2.png' %}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">70</span></h2>
                            <h6>PROJECTS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'homepages/img/core-img/cf3.png' %}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">90</span>+</h2>
                            <h6>HAPPY CLIENTS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="{% static 'homepages/img/core-img/cf4.png' %}" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">80</span>K+</h2>
                            <h6>REVENUE</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Side Image -->
        <div class="side-img wow fadeInUp" data-wow-delay="500ms">
            <img src="{% static 'homepages/img/core-img/pot.png' %}" alt="">
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="team-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>OUR TEAM</h2>
                        <p>Một đội ngũ chuyên gia giàu kinh nghiệm.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Team Member Area -->
                <div class="col-6 col-md-4 col-lg-10">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="{% static 'homepages/img/bg-img/13.4.jpg' %}" alt="">
                            <!-- Social Info -->
                            <div class="team-member-social-info">
                                <a href="https://www.facebook.com/profile.php?id=100004736896920"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/HongV82236116"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.google.com/webhp?authuser=1"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- Team Member Info -->
            </div>
        </div>
    </section>
{% endblock %}
