{% extends "layouts/index.html" %}
{% block content %}

{% include "../widgets/banner.html" %}
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Service Area Start ##### -->
     {% include "../widgets/DichVu.html" %}
    <!-- ##### Service Area End ##### -->

    <!-- ##### About Area Start ##### -->

    <!-- ##### About Area End ##### -->

    <!-- ##### Portfolio Area Start ##### -->
    {% include "../widgets/ThuVien.html" %}
    <!-- ##### Portfolio Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    {% include "../widgets/CaNhan.html" %}
    <!-- ##### Testimonial Area End ##### -->

    <!-- ##### Product Area Start ##### -->
  
    <!-- ##### Product Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
     {% include "../widgets/blog.html" %}
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Subscribe Area Start ##### -->
   {% include "../widgets/subscribe.html" %}
    <!-- ##### Subscribe Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
     {% include "../widgets/contact.html" %}
    <!-- ##### Contact Area End ##### -->
{%  endblock %}