{% extends "layouts/index.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'homepages/img/bg-img/24.jpg' %});">
            <h2>Đăng ký</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang Chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <h1> Điều chỉnh thông tin</h1>
    <p> Xin chào<strong> {{user.username}}</strong></p>
</div>
{%endblock%}