   {% load static %}
<section class="testimonial-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="testimonial-thumb">
                                        <img src="{% static 'homepages/img/bg-img/13.1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="testimonial-content">
                                        <!-- Section Heading -->
                                        <div class="section-heading">
                                            <h2>NGƯỜI SÁNG LẬP</h2>
                                            <p>Với nhiều năm kinh nghiệm trong lĩnh vực cây cảnh đã sáng lập ra Alazea</p>
                                        </div>
                                        <p>“Alazea là trang web giúp bạn có thể thỏa sức lựa chọn sản phẩm bạn thích với sự nghiên cứu về cây trồng 1 cách khoa học chúng tôi sẽ mang lại trải nghiệm tuyệt vời cho bạn  . Thank you!”</p>
                                        <div class="testimonial-author-info">
                                            <h6>Mr. Hoàng Vũ</h6>
                                            <p>CEO of Alazea</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </section>