   {% load static %}
 <section class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>DỊCH VỤ</h2>
                        <p>Chúng tôi mang những điều tốt nhất cho bạn.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="{% static 'homepages/img/core-img/s1.png' %}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Chăm sóc cây</h5>
                                <p>Chúng tôi cam kết dịch vụ chăm sóc cây trồng 1 cách hiệu quả và lành mạnh </p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="{% static 'homepages/img/core-img/s2.png' %}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Hệ thống tưới nước</h5>
                                <p>Với hệ thống tới nước tự động giúp cho cây ngày càng 1 tươi tốt, khỏe mạnh.</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="{% static 'homepages/img/core-img/s3.png' %}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Cây cảnh &amp; Cá cảnh</h5>
                                <p>Môi trường được đặt lên hàng đầu chugns tôi cam kết cung cấp các sản phẩm chất lượng, an toàn với môi trường.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-video-area bg-overlay mb-100">
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/020g-0hhCAU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      
                      
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>