 {% load static %}
<header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="nguyenconghoangvu1@gmail@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122 122</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                            {% if user.username %}
                                           
                                <!-- Language Dropdown -->
                                 <div class="dangky">
                                    <a href=""><i  aria-hidden="true"></i> <span>  <span>Xin chào {{user.username}}</span>  </span></a>
                                </div>
                                <!-- Login -->
                                <div class="login">
                                              <p><a href="{%url 'logout' %}">Đăng xuất</a></p>
                                </div>
                                 {% else %}
                                 <div class="dangky">
                                   <p> <a href="{% url 'register' %}"><i  aria-hidden="true"></i> <span>  Đăng ký </span></a></p>
                                </div>
                                <!-- Login -->
                                <div class="login">
                                   <p><a href="{% url 'login' %}">Đăng nhập</a></p>
                                </div>
                                {% endif %}
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="/home/shoppingcart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span class="cart-quantity">(1)</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="index.html" class="nav-brand"><img src="{% static 'homepages/img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Trang Chủ</a></li>
                                    <li><a href="/home/aboutus">Giới Thiệu</a></li>
                                    <li><a href="/home/tintuc"> Tin Tức</a>

                                            </li>
                                            <li><a href="/home/sanpham">Sản Phẩm</a>

                                            </li>

                                            <li><a href="/home/lienhe">Liên Hệ</a></li>
                                        </ul>
                                    </li>

                                </ul>

                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>